<%- include('./headers/loggedInHeader') %>
<form id="add-review-form" method="POST" action="/comments/<%= photo._id %>">
    <td>
        <img class="singleImg" src="/uploads/<%= photo.url %>" />
    <td class="picDescription"><%= photo.description %></td>
    </td>
    <label>Comments:</label>
    <textarea name="content"></textarea>
    <input type="submit" value="Add Comment">
</form>
<% if (photo.comments.length) { %>
<table>
    <tbody>
        <% let total = 0 %>
        <% photo.comments.forEach(function(p) { %>
        <tr>
            <td>
                <%= p.text %>
                <% if (p.userId == user._id.toString()) { %>
                <form action="/comments/<%= photo._id %>/<%= p._id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                    <a href="/singlePic/<%= photo._id %>/editComment/<%= p._id %>">Edit Comment</a>
                </form>
                <% }; %>
            </td>

        </tr>
        <% }); %>
        <tr>
        </tr>
    </tbody>
</table>
<% } else { %>
<h5>No Comments Yet</h5>
<% } %>
</body>